  @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


body{
  /* background-color: #000000f8; */
  background-color: #0c1e3e;
  font-family: 'Bona Nova', serif;
}

.lamp{
  position: relative;
  animation: animate 1.5s;
}

.animate{
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  80% {
    opacity: .6;
  }
}
@keyframes animate {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.moon{
  position: relative;
  animation: moon 1.5s;
}

@keyframes moon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.text {
	background: linear-gradient(-45deg, #72481f, #72481f, #e89a3e, #e89a3e);
	background-size: 300%;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 4s ease-in-out infinite;
}
.text-size{
  font-size: 40px;
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wish-color{
  color: #dda66b;
}